<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin_Client</servlet-name>
        <servlet-class>administration.Admin_Client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestion_Pret</servlet-name>
        <servlet-class>gestion.Gestion_Pret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestion_Adherent</servlet-name>
        <servlet-class>gestion.Gestion_Adherent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionMedia</servlet-name>
        <servlet-class>gestion.GestionMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutBibliothecaire</servlet-name>
        <servlet-class>AjoutBibliothecaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdresseList</servlet-name>
        <servlet-class>AdresseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutAdresse</servlet-name>
        <servlet-class>AjoutAdresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bibliothecairelist</servlet-name>
        <servlet-class>Bibliothecairelist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupBibliothecaire</servlet-name>
        <servlet-class>SupBibliothecaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupAdresse</servlet-name>
        <servlet-class>SupAdresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutAdherent</servlet-name>
        <servlet-class>AjoutAdherent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdherentList</servlet-name>
        <servlet-class>AdherentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupAdherent</servlet-name>
        <servlet-class>SupAdherent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuteurList</servlet-name>
        <servlet-class>AuteurList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Client</servlet-name>
        <url-pattern>/Admin_Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestion_Pret</servlet-name>
        <url-pattern>/Gestion_Pret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestion_Adherent</servlet-name>
        <url-pattern>/Gestion_Adherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionMedia</servlet-name>
        <url-pattern>/GestionMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutBibliothecaire</servlet-name>
        <url-pattern>/AjoutBibliothecaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdresseList</servlet-name>
        <url-pattern>/AdresseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutAdresse</servlet-name>
        <url-pattern>/AjoutAdresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bibliothecairelist</servlet-name>
        <url-pattern>/Bibliothecairelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupBibliothecaire</servlet-name>
        <url-pattern>/SupBibliothecaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupAdresse</servlet-name>
        <url-pattern>/SupAdresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutAdherent</servlet-name>
        <url-pattern>/AjoutAdherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdherentList</servlet-name>
        <url-pattern>/AdherentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupAdherent</servlet-name>
        <url-pattern>/SupAdherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuteurList</servlet-name>
        <url-pattern>/AuteurList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
